body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
    height: 100vh;
    width: 100%;
}
/*<--HEADER-->*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo img{
    max-width: 60px;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    color:#333;
    font-weight: 400;
    margin-left:40px;
    text-decoration: none;
}
/*<--CONTENT-->*/
.content{
    display: grid;
    grid-template-columns: 50% 40% 10% ;
    grid-template-rows: 80% 20%;
}
.textBox{ 
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
.textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    padding-top: 90px;
    margin: 10px 0 0 0;
}
.textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.textBox p{
    color: #333;
}
.textBox a{
    padding: 8px 20px;
    color: #fff;
    background-color: #017143;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    max-width: max-content;
}

/*<--IMAGES-->*/
.imgBox{
    display: flex;
    justify-content: flex-end;
}
.imgBox img{
   
}

/*<--SOCIAL-->*/
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social li{
    list-style: none;
}
.social li img{
    width: 30px;
}

/*<--FOOTER-->*/
footer{
    grid-column: 1/4;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    
}
footer li{
    cursor: pointer;
    transition: 0.5s;
}
footer li:hover{
    transform: translateY(-15px);
}
footer li img{
    max-width: 60px;
}

@media only screen and (max-width: 1200px) {
    footer{
        justify-content: flex-end;
        padding-right: 10em;
    }
}
@media only screen and (max-width: 1000px){
    .textBox h2{
        font-size: 3em;
        line-height: 1.4em;
        font-weight: 500;
        
    }
    .textBox h2 span{
        color: #017143;
        font-size: 1em;
        font-weight: 900;
    }
    .textBox p{
        font-size: 0.8em;
    }
    footer{
        justify-content: center;
        padding: 0;
    }
}

@media only screen and (max-width:730px){
    header{
        padding: 40px;
    }
    .imgBox{
        display: none;
    }
    .content{
        display: grid;
        grid-template-columns: 80% 20%;
    }
    header ul li a{
        margin-left:20px;
        
    }
}
@media only screen and (max-width:558px){
    header{
        padding: 40px;
    }
    header ul{
        display: none;
    }
    footer{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
    }
    .textBox{
        padding: 0px;
    }
    .textBox h2{
        padding-top: 10px;
    }
    .textBox p{
        margin-bottom: 20px;
    }
    .social{
        display: none;
    }
}